{% extends "multiplex_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" id="formulario">
    <form method="post">
        {% csrf_token %}
    
        {{ form|crispy }}

        <div class="botones-crud">
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href = '{% url 'cartelera:Cartelera' %}'">Cancelar</button>
        </div>
    </form>
</div>
{% endblock %}