{% extends "multiplex_app/base.html" %}
{% load static %}

{% block content %}
<div class="container" id="cartelera">
    {% if request.user.is_authenticated and request.user.is_staff %}
    <div class="row">
        <div class="col-12 text-center my-4">
            <button type="button" class="btn btn-primary" onclick="window.location.href = '{% url 'comidas:Create' %}'">añadir producto</button>
        </div>
    </div>
    {% endif %}

    <div class="row peliculas">

        {% if comidas_list %}
        {% for comida in comidas_list %}
        <div class="col-xs-12 col-lg-4 pelicula">
            <div class="imagen">
                <img src={{ comida.imagen }} alt="Pelicula en cartelera">
            </div>
            <div class="info-pelicula">
                <h2>{{ comida.nombre }}</h2>
                <p>Estreno: {{ comida.valor }}</p>
            </div>
            {% if request.user.is_authenticated and request.user.is_staff %}
            <div class="botones-crud">
                <button type="button" class="btn btn-success" onclick="window.location.href = '{% url 'comidas:Update' comida.id %}'">Editar</button>
                <button type="button" class="btn btn-danger" onclick="window.location.href = '{% url 'comidas:Delete' comida.id %}'">Eliminar</button>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p>No hay registro de snacks</p>
        {% endif %}

    </div>
</div>
{% endblock %}