body {
    /*background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/fondo.jpg");*/
    background-color: #193c40;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.navbar {
    border-bottom: solid #198754;
}

#footer {
    background-color: #212529;
    color: white;
    align-items: center;
    justify-content: center;
    border-top: solid #198754;
}

#footer .informacion {
    text-align: center;
    margin: 20px 0;
}

#footer .informacion p {
    margin: 10px 0;
}

#cartelera {
    min-height: 450px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#cartelera .peliculas {
    height: 100%;
}

#cartelera .peliculas .pelicula {
    height: 100%;
    padding: 12px 0;
    text-align: -webkit-center;
    margin: 0 10px 10px;
    background-color: aliceblue;
    border: solid #198754;
    box-shadow: 0 0 5px 10px rgb(0 0 0 / 20%);
    border-radius: 2%;

}

#cartelera .peliculas .imagen {
    height: 75%;
    width: 85%;
    text-align: center;
}

#cartelera .peliculas .imagen img {
    width: 85%;
    border: solid #198754;
    border-radius: 4%;
}

#cartelera .peliculas .info-pelicula {
    text-align: center;
    border: solid;
    border-radius: 12px;
    margin: 15px 0 0;
    width: 85%;
    box-shadow: 0 0 5px 10px rgb(0 0 0 / 20%);
}

@media screen and (min-width: 992px) {
    #cartelera .peliculas .pelicula {
      width: 31%;
    }
  }