{% extends "multiplex_app/base.html" %}
{% load static %}

{% block content %}
<div class="container" id="funciones">
    <ol class="list-group list-group-numbered">

        {% if funcion_list %}
        {% for funcion in funcion_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ funcion.pelicula_id.titulo }}</div>
                {{ funcion.multiplex_id.nombre }} - {{ funcion.fecha }} - {{ funcion.horario }}
            </div>
            <button type="button" class="btn btn-dark" onclick="window.location.href = '{% url 'funcion:DetailAdmin' funcion.id %}'">Reserva</button>

        </li>
        {% endfor %}
        {% else %}
        <p>No hay funciones</p>
        {% endif %}

    </ol>
</div>
{% endblock %}