{% extends "multiplex_app/base.html" %}
{% load static %}

{% block content %}
<div class="container" id="cartelera">
    <div class="row peliculas">
        <div class="col-xs-12 col-md-4 pelicula">
            <div class="imagen">
                <img src="{% static 'img/pelicula.jpg' %}" alt="Pelicula en cartelera">
            </div>
            <div class="info-pelicula">
                <h2>Suzume no Tojimari</h2>
                <p>Estreno: 20-Abr-2023</p>
                <p>Género: Acción, Animación, Aventura</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 pelicula">
            <div class="imagen">
                <img src="{% static 'img/pelicula.jpg' %}" alt="Pelicula en cartelera">
            </div>
            <div class="info-pelicula">
                <h2>Suzume no Tojimari</h2>
                <p>Estreno: 20-Abr-2023</p>
                <p>Género: Acción, Animación, Aventura</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 pelicula">
            <div class="imagen">
                <img src="{% static 'img/pelicula.jpg' %}" alt="Pelicula en cartelera">
            </div>
            <div class="info-pelicula">
                <h2>Suzume no Tojimari</h2>
                <p>Estreno: 20-Abr-2023</p>
                <p>Género: Acción, Animación, Aventura</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}