{% extends "multiplex_app/base.html" %}
{% load static %}

{% block content %}
<div class="container" id="cartelera">
    <div class="row peliculas">
        <div class="col-12 col-md-4 pelicula">
            <div class="imagen">
                <img src="{% static 'img/pelicula.jpg' %}" alt="Pelicula en cartelera">
            </div>
        </div>
        <div class="col-12 col-md-4 pelicula">
            <p>h</p>
        </div>
        <div class="col-12 col-md-4 pelicula">
            <p>h</p>
        </div>
    </div>
</div>
{% endblock %}