{% extends "multiplex_app/base.html" %}
{% load static %}

{% block content %}
<div class="container" id="multiplex-admin">
    {% if request.user.is_authenticated and request.user.is_staff %}
    <div class="row">
        <div class="col-12 text-center my-3">
            <button type="button" class="btn btn-primary" onclick="window.location.href = '{% url 'multiplex_app:Create' %}'">añadir Multiplex</button>
        </div>
    </div>

    <ol class="list-group list-group-numbered">

        {% if cines_list %}
        {% for cine in cines_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ cine.nombre }}</div>
                {{ cine.direccion }}
            </div>
            <button type="button" class="btn btn-success" onclick="window.location.href = '{% url 'multiplex_app:Update' cine.id %}'">Editar</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href = '{% url 'multiplex_app:Delete' cine.id %}'">Eliminar</button>

        </li>
        {% endfor %}
        {% else %}
        <p>No hay registro de multiplex</p>
        {% endif %}

    </ol>
    {% else %}
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">No estas autorizado para entrar a esta pagina</div>
            </div>
        </li>
    </ol>
    {% endif %}
</div>
{% endblock %}