{% extends "multiplex_app/base.html" %}
{% load static %}

{% block content %}
<div class="container" id="multiplex">
    <ol class="list-group list-group-numbered">

        {% if object.peliculas %}
            {% for pelicula in object.peliculas.all %}
            {% with num=forloop.counter|stringformat:"s" %}
            {% with idStr="multiCollapseExample"|add:num %}
            {% with target="#"|add:idStr %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ pelicula.titulo }}</div>
                    </div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target={{ target }} aria-expanded="false" aria-controls={{ idStr }}>Ver horarios</button>
                </li>
                <div class="collapse multi-collapse" id={{ idStr }}>
                    <div class="card card-body">
                        {% for funcion in funciones %}
                            {% if pelicula.titulo == funcion.pelicula_id|stringformat:"s" %}
                            <button type="button" class="btn btn-dark">{{ funcion.horario }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endfor %}
        {% else %}
            <p>No hay registro de funciones en este cine</p>
        {% endif %}
        
    </ol>
</div>
{% endblock %}